<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>CourseTutor</title>
    
    <!-- CSS -->
    <!--<link href="assets/css/homepage_style.css" type="text/css" rel="stylesheet">-->
    
    <script type="text/javascript" src="assets/scripts/jquery-2.2.4.min.js" defer></script><!-- jQuery should be first -->
    
    <script type="text/javascript" src="assets/scripts/script.js" async></script>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

</head>

<body>


<!-- USING GRAY NAV BAR
<div id="nav">
<ul>
  <li><a href="login.html">Login</a></li>
  <li><a href="resources.html">Resources</a></li>
  <li><a href="profile.html">Profile</a></li>
  <li><a href="course_requests_page.html">Courses</a></li>
  <li><a href="signup.html">Sign Up</a></li>
  <li><form method="get" action="/search" id="search-general">
  <input name="q" type="search" size="40" placeholder="Search..." />
</form></li>
</ul>
</div>
-->

<!-- <h1 id="title">CourseTutor</h1>
	<section id="search-section">
		<button id="courses-btn"> Search for <strong>Tutors</strong> </button>
		<button id="programs-btn"> Search for <strong> Students </strong></button>
	</section> -->


<div class="container">
    <div class="header">
        <div class="clr"></div>
    </div>
    <div class="sp-container">
        <div class="sp-content">
            <div class="sp-globe"></div>
              <h2 class="frame-1">Welcome to CourseTutor</h2>



              <h2 class="frame-5"><span>Find tutors and students today.</span> </h2>
  <a class="sp-circle-link" href="#">Join us!</a>

        </div>
    </div>
</div>


<script type="text/javascript" src="/path/to/shared/js/EventHelpers.js">
</script>
<script type="text/javascript" src="/path/to/shared/js/cssQuery-p.js">
</script>
<script type="text/javascript" src="/path/to/shared/js/jcoglan.com/sylvester.js">
</script>
<script type="text/javascript" src="/path/to/shared/js/cssSandpaper.js">
</script>

</body>


<!-- <footer id="footer">
		<p>
		<small>&copy; 2016</small>
		</p>
	</footer> -->

</html>
