<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Login</title>
      
      <!-- CSS -->
      <link href="assets/css/homepage_style.css" type="text/css" rel="stylesheet">
      
      <script type="text/javascript" src="assets/scripts/jquery-2.2.4.min.js" defer></script><!-- jQuery should be first -->
      
      <script type="text/javascript" src="assets/scripts/script.js" async></script>

      <!-- Fonts -->
      <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

  </head>

  <body>
  <div id="nav">
  <ul>
    <li><a href="./login.html">Login</a></li>
    <li><a href="./resources.html">Resources</a></li>
    <li><a href="#programs">Programs</a></li>
    <li><a href="#courses">Courses</a></li>
    <li><a href="#about">About</a></li>
    <li><form method="get" action="/search" id="search-general">
    <input name="q" type="search" size="40" placeholder="Search..." />
  </form></li>
  </ul>
  </div>

  <h1 id="title">Login</h1>
  
  <div class="container">

    <br>

    <div>

      <label>Email:</label>
      <input type="email" id="email" placeholder="email@email.com" ng-model="user.email" required/>

    </div>

    <br>

    <div>

      <label>Password:</label>
      <input type="password" id="pwd" placeholder="***********" ng-model="user.password" required/>

    </div>

    <br>

    <div>

      <label><input type="checkbox"> Remember me</label>

    </div>

    <div>
      <button class="button">Login</button>
      <button class="button"><a href="./signup.html" class="button">Sign up</a></button>
    </div>


  </div>

  </body>


  <footer id="footer">
      <p>
      <small>&copy; 2016</small>
      </p>
  </footer>

</html>