<!DOCTYPE html>
<html>
  <header class="hero-unit" id="banner">
    <div class="head">
      <h1>Login</h1>
      <link href="./assets/css/jason_style.css" type="text/css" rel="stylesheet">
    </div>
  </header>

  <ul class="navbar">
    <li class="navlist"><a href="./course_detail_page.html">Home</a></li>
    <li class="navlist"><a>My Profile</a></li>
    <li class="navlist"><a>Courses</a></li>
    <li class="navlist"><a href="./resources.html">My Resources</a></li>
    <li class="navlist"><a href="./login.html">Login</a></li>
    <li class="navlist"><a href="./signup.html">Sign up</a></li>
  </ul>
  
  <div class="container">

    <br>

    <div>

      <label>Email:</label>
      <input type="email" id="email" placeholder="email@email.com" ng-model="user.email" required/>

    </div>

    <br>

    <div>

      <label>Password:</label>
      <input type="password" id="pwd" placeholder="***********" ng-model="user.password" required/>

    </div>

    <br>

    <div>

      <label><input type="checkbox"> Remember me</label>

    </div>

    <div>
      <button class="button">Login</button>
      <a href="./signup.html" class="button">Sign up</a>
    </div>


  </div>

  <footer>
    <div class="foot">
      <h4>Credits... Etc... footer placeholder</h4>
    </div>
  </footer>
</html>