<article class="container" data-ng-controller="ProfilesController" data-ng-init="findOne()"> 
    <section id="settings_profile_container" class="row profile">
    <section class="col-md-3">
      <section class="profile-sidebar">
        <div class="form-group" data-ng-controller="ProfilesController" data-ng-init="find()">
          <input type="text" ng-model="search" typeahead="profile as profile.username for profile in profiles | filter:$viewValue | limitTo:4" class="form-control" typeahead-on-select="profileSearch($item)" placeholder="Search profiles..." width="200" >
        </div>
        <!-- SIDEBAR USERPIC -->
        <section class="profile-userpic">
          <img src="/modules/users/img/avatar.png" class="img-responsive" alt="">
        </section>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <section class="profile-usertitle">
          <p class="profile-usertitle-name" data-ng-bind="profile.username"> </p>
          <p class="profile-usertitle-job" data-ng-bind="profile.school"> </p>
          <p class="profile-usertitle-program" data-ng-bind="profile.program"> </p>
          <p class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </p>
          <span class="badge-title" data-ng-bind="profile.role"> </span>
        </section>
        <!-- END SIDEBAR USER TITLE -->
       
        <!-- SIDEBAR BUTTONS -->
        <section class="profile-userbuttons">
        <!-- Only show button if not friends and you're not trying to add yourself -->
          <button data-ng-if="authentication.user.username !== profile.username && profile.friends.indexOf(authentication.user.username) == -1" type="button" class="btn btn-success btn-sm" ng-click="addFriend(profile)">Add Friend</button>
          <button data-ng-if="authentication.user.username !== profile.username" type="button" class="btn btn-danger btn-sm" ng-click="showMessageBox()">Message</button>
        </section>
        <!-- END SIDEBAR BUTTONS -->
        
        <!-- SIDEBAR MENU -->
        <nav id="profile-usermenu" data-ng-controller="ProfilesController" data-ng-init="find()" >
          <ul class="nav">
            <li class="active" ng-click="showAbout()">
              <a href="javascript:void(0)"> About </a>
            </li>
            <li>
                <a href="javascript:void(0)" ng-click="showCourse()" class="dropdown-item">
                    <h4>Courses</h4>
                </a>
            </li>
            <li>
              <a href="#resources"> Sessions </a>
            </li>
            <li>
                <a data-ng-href="#!/profiles/{{profile._id}}/friends" class="dropdown-item">
                    <h4>Friends</h4>
                </a>
            </li>
            <li data-ng-if="authentication.user._id === profile.userId" ng-click="showContacts()">
              <a href="javascript:void(0)">Contacts</a>
            </li>
          </ul>
        </nav>
        <!-- END MENU -->
      </section>
    </section>
    <article class="profile-content" id="content" >
        <section id="about">
          <p data-ng-bind="profile.aboutMe"></p>
        </section>
        <!-- When clicking 'Courses' button -->
        <section id="user-courses" style="display: none;">
        <form name="userForm" data-ng-submit="addCourse(profile)" class="signin form-horizontal" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="course"></label>
              <input type="text" id="course" ng-model="course" class="form-control" placeholder="Enter course code">
            </div>
            <div class="text-center form-group">
              <button type="submit" class="btn btn-large btn-primary">Add</button>
            </div>
            <div data-ng-show="success" class="text-center text-success">
              <strong>Profile Saved Successfully</strong>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </section>
        <!-- When clicking 'Message' button -->
        <section id="send_message_wrapper" style="display: none;">
          <textarea class="post_message_textarea" rows="6" form="message_form" placeholder="Let's start chatting!" ng-model="input_message"></textarea>
          <form id="message_form" style="width: 90%; text-align: end;" data-ng-submit="sendMessage()">
            <p id="alert_post_sending" style="display: none;"></p>
            <a href="javascript:void 0;" ng-click="hideMessageBox()">Cancel</a>
            <input type="submit" value="Send">
          </form>
        </section>
        <!-- Display contacts -->
        <section id="contacts_wrapper" style="display: none;"></section>
        <section id="chat_wrapper" style="display: none;">
          <textarea class="post_message_textarea" rows="6" form="in_chat_message_form" placeholder="Let's start chatting!" ng-model="input_message"></textarea>
          <form id="in_chat_message_form" style="width: 90%; text-align: end;" data-ng-submit="sendMessageInChat()">
            <input type="submit" value="Send">
          </form>
        </section>
    </article>
  </section>
</article>
