<article class="container" data-ng-controller="ProfilesController" data-ng-init="findOne()">
    <section class="row profile">
    <section class="col-md-3">
      <section class="profile-sidebar">
        <div class="form-group" data-ng-controller="ProfilesController" data-ng-init="find()">
          <input type="text" ng-model="search" typeahead="profile as profile.username for profile in profiles | filter:$viewValue | limitTo:4" class="form-control" typeahead-on-select="profileSearch($item)" placeholder="Search profiles..." width="200" >
        </div>
        <!-- SIDEBAR USERPIC -->
        <section class="profile-userpic">
          <img src="/modules/users/img/avatar.png" class="img-responsive" alt="">
        </section>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <section class="profile-usertitle">
          <p class="profile-usertitle-name" data-ng-bind="profile.username"> </p>
          <p class="profile-usertitle-job" data-ng-bind="profile.school"> </p>
          <p class="profile-usertitle-program" data-ng-bind="profile.program"> </p>
          <p class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </p>
          <span class="badge-title" data-ng-bind="profile.role"> </span>
        </section>
        <!-- END SIDEBAR USER TITLE -->
       
        <!-- SIDEBAR BUTTONS -->
        <section class="profile-userbuttons">
        <!-- Only show button if not friends and you're not trying to add yourself -->
          <button data-ng-if="(authentication.user.username !== profile.username) && (profile.friends.indexOf(authentication.user.username) == -1)" type="button" class="btn btn-success btn-sm" ng-click="addFriend(profile)">Add Friend</button>
          <button data-ng-if="authentication.user.username !== profile.username " type="button" class="btn btn-danger btn-sm" >Message</button>
        </section>
        <!-- END SIDEBAR BUTTONS -->
        
        <!-- SIDEBAR MENU -->
        <nav id="profile-usermenu" data-ng-controller="ProfilesController" data-ng-init="find()" >
          <ul class="nav">
            <li class="active">
              <a href="#about"> About </a>
            </li>
            <li>
                <a data-ng-href="#!/profiles/{{profile._id}}/courses" class="dropdown-item">
                    <h4>Courses</h4>
                </a>
            </li>
            <li>
              <a href="#resources"> Sessions </a>
            </li>
            <li>
                <a data-ng-href="#!/profiles/{{profile._id}}/friends" class="dropdown-item">
                    <h4>Friends</h4>
                </a>
            </li>
          </ul>
        </nav>
        <!-- END MENU -->
      </section>
    </section>
    <article class="profile-content" id="content" >
            <section id="about">
              <p data-ng-bind="profile.aboutMe"></p>
            </section>
    </article>
  </section>
</article>
