<article class="container" data-ng-controller="ProfilesController" data-ng-init="findOne()" style="width: 100%; margin-top: 50px;"> 
    <section id="settings_profile_container" class="row profile">
    <section class="col-md-3">
      <section class="profile-sidebar">
        <div class="form-group" data-ng-controller="ProfilesController" data-ng-init="find()">
          <input type="text" ng-model="search" typeahead="profile as profile.username for profile in profiles | filter:$viewValue | limitTo:4" class="form-control" typeahead-on-select="profileSearch($item)" placeholder="Search profiles..." width="200" >
        </div>
        <!-- SIDEBAR USERPIC -->
        <section class="profile-userpic">
          <img src="/modules/users/img/avatar.png" class="img-responsive" alt="">
        </section>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <section class="profile-usertitle">
          <p class="profile-usertitle-name" data-ng-bind="profile.username"> </p>
          <p class="profile-usertitle-job" data-ng-bind="profile.school"> </p>
          <p class="profile-usertitle-program" data-ng-bind="profile.program"> </p>
          
          <p class="rating">
            <!--<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>-->
            <p>Profile likes: {{profile.upvotes}}</p>
              <a class="btn btn-primary" data-ng-click="downvote(profile);" data-ng-if="(profile.username != authentication.user.username && profile.downvoters.indexOf(authentication.user.username) == -1) || authentication.user.roles.indexOf('admin') != -1">
                <i class="glyphicon glyphicon-thumbs-down"></i>
              </a>
              <a class="btn btn-primary" data-ng-click="upvote(profile);" data-ng-if="(profile.username != authentication.user.username && profile.upvoters.indexOf(authentication.user.username) == -1) || authentication.user.roles.indexOf('admin') != -1">
                <i class="glyphicon glyphicon-thumbs-up"></i>
              </a>
          </p>

          <br>
             <!--Student badge-->
          <i class="glyphicon glyphicon-education" data-ng-if="profile.roles.indexOf('student') != -1"> Student</i>
          <br>

          <!--Tutor badge-->
          <i class="glyphicon glyphicon-education" data-ng-if="profile.roles.indexOf('tutor') != -1"> Tutor</i>
          <br>

          <!--Admin badge-->
          <i class="glyphicon glyphicon-tower" data-ng-if="profile.roles.indexOf('admin') != -1"> Admin</i>
          <br>

          <!--Seniority badge-->
          <i class="glyphicon glyphicon-pawn" data-ng-if="profile.courses.length <= 5"> Freshman</i>
          <i class="glyphicon glyphicon-bishop" data-ng-if="profile.courses.length >= 6 && profile.courses.length <= 10"> Junior</i>
          <i class="glyphicon glyphicon-knight" data-ng-if="profile.courses.length >= 11 && profile.courses.length <= 15"> Sophomore</i>
          <i class="glyphicon glyphicon-king" data-ng-if="profile.courses.length >= 16"> Senior</i>

          <span class="badge-title" data-ng-bind="profile.role"> </span>
        </section>
        <!-- END SIDEBAR USER TITLE -->
       
        <!-- SIDEBAR BUTTONS -->
        <section class="profile-userbuttons">
        <!-- Only show button if not friends and you're not trying to add yourself -->
          <button data-ng-if="authentication.user.username !== profile.username && profile.friends.indexOf(authentication.user.username) == -1" type="button" class="btn btn-success btn-sm" ng-click="addFriend(profile)">Add Friend</button>
          <button data-ng-if="authentication.user.username !== profile.username" type="button" class="btn btn-danger btn-sm" ng-click="showMessageBox()">Message</button>
        </section>
        <!-- END SIDEBAR BUTTONS -->
        
        <!-- SIDEBAR MENU -->
        <nav id="profile-usermenu" data-ng-controller="ProfilesController" data-ng-init="find()" >
          <ul class="nav">
            <li class="active" ng-click="showAbout()">
              <a data-ng-href="#!/profiles/{{profile._id}}"> About </a>
            </li>
            <li>
                <a data-ng-href="#!/profiles/{{profile._id}}/courses" class="dropdown-item">
                    <h4>Courses</h4>
                </a>
            </li>

            <li>
                <a data-ng-href="#!/profiles/{{profile._id}}/friends" class="dropdown-item">
                    <h4>Friends</h4>
                </a>
            </li>
            <li data-ng-if="authentication.user._id === profile.userId" ng-click="showContacts()">
              <a href="javascript:void(0)">Messages</a>
            </li>
          </ul>
        </nav>
        <!-- END MENU -->
      </section>
    </section>
    <article class="profile-content" id="content" >
      <!--Friends -->
       <article class="profile-content" id="about" data-ng-controller="ProfilesController" data-ng-init="find()">
                  <section id="user-friends">
                    <h3> Friends </h3>
                  <a data-ng-repeat="profile in profiles" data-ng-href="#!/profiles/{{profile._id}}" class="dropdown-item">
                    <a data-ng-repeat="friend in profile.friends" class="dropdown-item">
                        <h4>{{friend}}</h4>
                    </a>
                  </a>
                </section>

        </article>

         <article data-ng-if="authentication.user.username === profile.username" id="recommend-friends" id="about" data-ng-controller="ProfilesController" data-ng-init="find()">

                <section id="recommend-friends">
                  <h3> Recommended Friends </h3>   
                  <a data-ng-init="recommendFriends(profile)" data-ng-if="(authentication.user.username != profile.username) && (profile.friends.indexOf(authentication.user.username) == -1) && ((profile.school == authentication.user.school) && (profile.roles == authentication.user.roles))" data-ng-repeat="profile in profiles" class="dropdown-item">
                    <h4>{{profile.username}}</h4>
                  </a>
                </section>

        </article>


        <!-- When clicking 'Message' button -->
        <section id="send_message_wrapper" style="display: none;">
          <textarea class="post_message_textarea" rows="6" form="message_form" placeholder="Let's start chatting!" ng-model="input_message"></textarea>
          <form id="message_form" style="width: 90%; text-align: end;" data-ng-submit="sendMessage()">
            <p id="alert_post_sending" style="display: none;"></p>
            <a href="javascript:void 0;" ng-click="hideMessageBox()">Cancel</a>
            <input type="submit" value="Send">
          </form>
        </section>
        <!-- Display contacts -->
        <section id="contacts_wrapper" style="display: none;"></section>
        <section id="chat_wrapper" style="display: none;">
          <textarea class="post_message_textarea" rows="6" form="in_chat_message_form" placeholder="Let's start chatting!" ng-model="input_message"></textarea>
          <form id="in_chat_message_form" style="width: 90%; text-align: end;" data-ng-submit="sendMessageInChat()">
            <input type="submit" value="Send">
          </form>
        </section>
    </article>
  </section>
</article>


