<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>CourseTutor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/modules/users/css/profile.css" rel="stylesheet">
    <script src="assets/scripts/jquery-2.2.4.min.js"></script>
</head>
<body>

<article class="container" data-ng-controller="SettingsController">
    <section class="row profile">
    <section class="col-md-3">
      <section class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <section class="profile-userpic">
          <img src="assets/img/avatar.png" class="img-responsive" alt="">
        </section>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <section class="profile-usertitle">
          <p class="profile-usertitle-name" data-ng-bind="user.firstName"> </p>
          <p class="profile-usertitle-job" data-ng-bind="user.school"> </p>
          <p class="profile-usertitle-program" data-ng-bind="user.program"> </p>
          <p class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </p>
          <span class="badge-title" data-ng-bind="user.role"> </span>
        </section>
        <!-- END SIDEBAR USER TITLE -->
       
        <!-- SIDEBAR BUTTONS -->
        <section class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Add Friend</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </section>
        <!-- END SIDEBAR BUTTONS -->
        
        <!-- SIDEBAR MENU -->
        <nav id="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#about"> About </a>
            </li>
            <li>
              <a href="#!/settings/profileCourses"> Courses </a>
            </li>
            <li>
              <a href="#resources"> Sessions </a>
            </li>
            <li>
              <a href="#!/settings/profileFriends"> Friends </a>
            </li>
          </ul>
        </nav>
        <!-- END MENU -->
      </section>
    </section>
    <article class="profile-content" id="content" >
            <section id="about">
              <p data-ng-bind="user.aboutMe"></p>
            </section>
    </article>
  </section>
</article>

<script type="text/javascript">

/*$(function(){
  $('#profile-usermenu ul li a').on('click', function(e){
    e.preventDefault();
    var newcontent = $(this).attr('href');
    console.log(newcontent);
    
    $('#profile-usermenu ul li a').removeClass('sel');
    $(this).addClass('sel');
    
    $('#content section').each(function(){
      if(!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
    });
    
    $(newcontent).removeClass('hidden');
  });
});*/
