.left {
	width: 75%;
	margin-top: 30px;
}

.right {
	width: 20%;
	/*background-color: yellow;*/
	position: fixed;
	top: 100px;
	right: 20px;
}

#course_header {
	
}

#course_name {
	font-size: 48px;
	margin: auto;
}

#course_history {
	margin: 30px 0px;
}

.course_info {
	margin: 5px 0px 0px 45px;
}

.single_comment {
	border: 1px solid;
	display: inline-flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 100% !important;
}

.comment_info {
	flex-basis: 20%;
	text-align: center;
	min-width: 80px;
}

.comment_detail {
	flex-basis: 75%;
	text-align: start; 
}

.comment_bottom_bar {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100% !important;
	border-top: 1px dashed, black;
	padding: 5px 0px;
	color: #DFDFDF;
}

.comment_bottom_bar > * {
	margin: 0 10px;
}

.comment_thumb_buttons {
	display: inline-flex;
	align-items: center;
}

.comment_thumb_buttons > * {
	margin: 0 5px;
}

.comment_thumb_buttons img {
	width: 20px;
	height: 20px;
}

.thumb_count {
	margin: 0px;
	font-size: 11px;
}

.recommendation_wrapper {
	padding: 5px;
	margin-top: 20px;
	border: inset 3px #E6B400;
}

.recommendation_wrapper a {
	color: #DFDFDF;
}

.prof_name {
	color: #E45214;
}

