.head{
	text-align: center;
	background-color: #ADD8E6;
	padding: 15px 32px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navlist {
    float: left;
}

.navlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navlist a:hover {
    background-color: #111;
    text-decoration: underline;
}

.container{
	padding: 75px 32px;
	text-align: center;

}

.button {
    background-color: #FFA500; /* light orange complements */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* footer */

.foot{
	position: absolute;
	bottom: 0;
	width: 95.85%;
	height: 5%;
	padding: 15px 32px;
	background-color: #ADD8E6;
}

/* resources page, images. */

.resource {
    margin: 5px;
    border: 5px solid #ccc;
    float: left;
    width: 180px;
}

.description {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: center;
}

.resource:hover {
    border: 5px solid #777;
}

.resource img {
    width: 100%;
    height: auto;
}

