 <article class="profile-content" id="content" data-ng-controller="SettingsController">
            <section id="about">
              <p data-ng-bind="user.aboutMe"></p>
            </section>

            <section id="user-courses">
              <ul class="course-list">
                <li><a href="#">CSCA08</a></li>
                <li><a href="#">CSCB09</a></li>
                <li><a href="#">CSCC43</a></li>
                <li><a href="#">CSCD58</a></li>
                <li><a href="#">LINA01</a></li>
              </ul>
              </section>

    </article>
  </section>
</article>