<section data-ng-controller="CommentsController" data-ng-init="findOne()">
	<div class="page-header">
		<p>Comment by user: </p>
		<h1 data-ng-bind="comment.author"></h1>
		<p data-ng-bind="comment.body"></p>
		<p>Upvotes: </p>
		<p data-ng-bind="comment.upvotes"></p>
	</div>
	<div class="pull-right">

		<!-- EDIT -->
		<a class="btn btn-primary" href="/#!/comments/{{comment._id}}/edit" data-ng-if="comment.author == authentication.user.username || authentication.user.roles.indexOf('admin') != -1">
			<i class="glyphicon glyphicon-edit"></i>
		</a>

		<!-- REMOVE -->
		<a class="btn btn-primary" data-ng-click="remove();" data-ng-if="comment.author == authentication.user.username || authentication.user.roles.indexOf('admin') != -1">
			<i class="glyphicon glyphicon-trash"></i>
		</a>

		<!-- UPVOTE/DOWNVOTE - Admins have access to both regardless - You cannot upvote/downvote your own comment and cannot spam upvotes-->
		<a class="btn btn-primary" data-ng-click="upvote(comment);" data-ng-if="comment.author != authentication.user.username && comment.upvoters.indexOf(authentication.user.username) == -1 || authentication.user.roles.indexOf('admin') != -1">
			<i class="glyphicon glyphicon-arrow-up"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="downvote(comment);" data-ng-if="(comment.author != authentication.user.username && comment.downvoters.indexOf(authentication.user.username) == -1) || authentication.user.roles.indexOf('admin') != -1">
			<i class="glyphicon glyphicon-arrow-down"></i>
		</a>
	</div>
</section>