<!DOCTYPE html>
<html>
<head>
	<title>Course Requests</title>

	<link rel="stylesheet" type="text/css" href="../css/course_requests_page.css">
	<link rel="stylesheet" type="text/css" href="../css/homepage_style.css">
	<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="../services/jquery-2.2.4.min.js" defer></script>
	<script type="text/javascript" src="../services/course_requests_page.js"></script>
</head>
<body>
	<!-- Navigation -->
	<div id="nav">
		<ul>
		  <li><a href="login.html">Login</a></li>
		  <li><a href="resources.html">Resources</a></li>
		  <li><a href="profile.html">Profile</a></li>
		  <li><a href="course_requests_page.html">Courses</a></li>
		  <li><a href="signup.html">Sign Up</a></li>
		  <li>
		  	<form method="get" action="/search" id="search-general">
		  		<input name="q" type="search" size="40" placeholder="Search..." />
			</form>
		  </li>
		</ul>
	</div>

	<!-- Left panel -->
	<section class="left">
		<!-- Header -->
		<header id="course_header">
			<h1 id="course_name">Course: CSC309</h1>
			<h3 class="course_info">
				School: 
				<span class="highlight">University of Toronto St.George Campus</span>
			</h3>
			<h3 class="course_info">Keyword: web deveopment, design principles, security, web performance.</h3>
			<h4 class="course_info">Course website: <a href="http://www.cdf.toronto.edu/~csc309h/summer/">http://www.cdf.toronto.edu/~csc309h/summer/</a></h4>
		</header>

		<section>
			<button style="margin-right: 10px;" onclick="showFindingPosts()">Finding</button>
			<button style="margin-left: 10px;" onclick="showOfferingPosts()">Offering</button>
		</section>

		<section id="posts" style="margin-top: 20px;">
			
		</section>
	</section>

	<!-- Recommandation -->
	<section class="right">
		<section class="recommendation_wrapper">
			<p>Similar courses in <span class="highlight">other school</span></p>
			<p><a href="">CSCC09 (University of Toronto Scarborough)</a></p>
			<p><a href="">COMP SCI 4WW3 (McMaster University)</a></p>
		</section>
	</section>

</body>
</html>